body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #012456;
  padding: 0px;
  color: #333;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #5391f5;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #d1e9ff;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.container, h1 {
  width: 90%;
  max-width: 900px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;

}

.clockin {
  border: 1px solid #5fa4ed;
  box-shadow: -1px 1px #5fa4ed, -2px 2px #5fa4ed, -3px 3px #5fa4ed, -4px 4px #5fa4ed, -5px 5px #5fa4ed;
  background-color: #ffff;
}

.column {
  width: 30%;
  display: inline-block;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a.absent {
  color: #cc0000;
}

a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}

h1 {
  font-size: 28px;
  color: black;
}

h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  color: #777777;
  font-size: 14px;
}

table {
  padding: 0;
  width: 100%;
  max-width: 900px;
  min-width: 400px;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

tr:nth-child(even) {
      background-color: #dddddd;
    }
